/**********************************
	Colors
**********************************/

// link hover
$hover: #34444e;

/* Navbar */
$navbar: #777777;
$upper-address: #757575;

/* Short Booking */
$short-book: #535353;
$short-input: #ccc;
$orange-btn: #e0aa86;

/* Our Best */
$our: #959595;
$best: #34444e;
$room-dark: #f2f7fa;

// Footer
$footer-bg: #142027;
$newsletter: #b7b7b7;

// Contact Us
$input-contact: #e1e1e1;


/**********************************
	Paddings / Margins
**********************************/

$padding: 15px;


/**********************************
	Screen Sizes
**********************************/
$container-width: 1200px;
$desktop-low: 1160px;
$tablet-lg: 1080px;
$tablet-btw: 1005px;
$tablet-m: 930px;
$tablet-new: 845px;
$tablet-tab: 780px;
$tablet: 768px;
$phone-lg: 620px;
$phone: 550px;
$phone-medium: 480px;
$phone-medium-s: 414px;
$phone-sm: 360px;
$phone-sm2: 320px;
$phone-xsm: 280px;

/* Max Height */
$hphone: 480px;

/* Paddings */ 
/** wrapper **/
$padding-main: 10px;
$padding-mainTop: 51px;
$padding-mainTopTablet: 34px;


/* Fonts */ 
$color__text-main: #111;
$color__nav-main: #7f7f7f;

/* Links */ 
$color__link: #7f7f7f;
$color__text-dark: #111;